:root {
  --headings-labels-buttons-font: "Roboto Mono", monospace;
  --body-font: "Mulish", sans-serif;
  --primary-color: #055e83;
  --acent-color: #f15822;
}
@font-face {
  font-family: "Futural";
  src: url("../src/assets/futura-light-bt.ttf");
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--acent-color);
}
h1 {
  font-family: var(--headings-labels-buttons-font);
  font-weight: 700;
}

h2,
button {
  font-family: var(--headings-labels-buttons-font);
  font-weight: 500;
}
p,
label {
  font-family: "Rutural";
  font-weight: 500;
}
